@model LoginModel

@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}

<div class="text-center">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemSucesso"]
            <button type="button" class="btn btn-close" aria-label="Close"></button>
        </div>
    }
</div>

<div class="text-center">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MensagemErro"]
            <button type="button" class="btn btn-close" aria-label="Close"></button>
        </div>
    }
</div>

<form asp-controller="Login" asp-action="Entrar" method="post">
    <div class="mb-3">
        <label for="ILogin" class="form-label">Login</label>
        <input type="text" required asp-for="Login" class="form-control" id="ILogin">
    </div>
    <div class="mb-3">
        <label for="ISenha" class="form-label">Senha</label>
        <input type="password" required asp-for="Senha" class="form-control" id="ISenha">
    </div>
    <p class="mb-4 text-sm mx-auto">
        Esqueceu sua senha?
        <a asp-controller="Login" asp-action="RedefinirSenha" class="fw-bold">Recuperar senha</a>
    </p>
    <br />
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</form>