@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Página Restrita";

}

<div class="text-center">
    <h1 class="display-4">Acesso negado!</h1>
    <p>Você não tem permissão para acessar essa funcionalidade</p>
    <a asp-controller="Home" asp-action="Index">voltar</a>
</div>
